body {
    font-family: 'Arial', sans-serif;
}

.navbar-nav .nav-item .nav-link {
    margin-right: 10px;
    padding: 8px 16px;
}

.nav-item.active .nav-link {
    font-weight: bold;
}

ul.heat-modes {
    list-style-type: square;
    padding-left: 20px;
}

.heat-modes li {
    margin-bottom: 10px;
}

.container h2 {
    margin-bottom: 20px;
}

.container img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.table {
    margin-top: 20px;
}
